<input type="text" placeholder="Add task and hit enter" [(ngModel)]="task" (keyup.enter)="addTask()" class="form-control">

<br>

<app-item *ngFor="let item of todoList | statusFilter: status" [item]="item" (onDelete)="deleteTask($event)"></app-item>

<br>

<span class="task"> {{itemsLeft}} items left </span>

<br>
<br>

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button [ngClass]="{active: status === 'all'}" type="button" class="btn btn-light" (click)="setAll()">All</button>
  <button [ngClass]="{active: status === 'active'}" type="button" class="btn btn-light" (click)="setActive()">Active</button>
  <button [ngClass]="{active: status === 'completed'}" type="button" class="btn btn-light" (click)="setCompleted()">Completed</button>
</div>